<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName" default-init-method="afterPropertiesSet">
    <!--Spring helpers-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    <!--<import resource="classpath:core/src/script/dbdirtyconfig.xml"/>-->
    <import resource="file:./core/src/script/dbdirtyconfig.xml"/>
    <!--Miner conf-->
    <bean class="ru.brandanalyst.miner.GrabberContainer">
        <property name="grabberList">
            <list>
               <!--<bean class="ru.brandanalyst.miner.GrabberWikipedia">
                <property name="config" value="./miner/configs/wikibrands.txt;./miner/configs/wikibrands.xml"/>
                </bean> -->
                <!--wikibrands.txt;resources/wikibrands.xml-->
                <!--<bean class="ru.brandanalyst.miner.GrabberTwitter"/>-->

                      <!-- <bean class="ru.brandanalyst.miner.GrabberLenta">
                                          <property name="config" value="miner/configs/lentaRu.xml"/>
                                      </bean>-->
                <!--<bean class="ru.brandanalyst.miner.GrabberRia">
                    <property name="config" value="miner/configs/riaNews1.xml"/>
                </bean>-->
            </list>
        </property>
    </bean>
    <!--<bean class="ru.brandanalyst.miner.parser.ParserStarter">
    </bean>-->
    <bean class="ru.brandanalyst.miner.quote.GrabberFinam"/>

</beans>
