<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
    <!--Spring helpers-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    <!--IMPORT DB-->
    <import resource="classpath:dbhandler_dirty.xml"/>
    <!--Miner conf-->
    <bean class="ru.brandanalyst.miner.GrabberHandler">
        <property name="grabberList">
            <list>
                <!--     <bean class="ru.brandanalyst.miner.GrabberWikipedia">
                    <property name="config" value="./miner/configs/wikibrands.txt;./miner/configs/wikibrands.xml"/>
                </bean>-->
                <bean class="ru.brandanalyst.miner.rss.ParserStarter"/>
                <bean class="ru.brandanalyst.miner.quote.GrabberFinam"/>
            </list>
        </property>
    </bean>


</beans>
